/* --------------------------------
	Site:       i-taros.com
	CSS author: Nico Jatzkowski // www.i-taros.com
	Updated:    17.07.2015
-------------------------------- */
@font-face {
  font-family: 'CooperBeckerPoster';
  src: url('cooper_becker_poster_black-webfont.eot');
  src: url('cooper_becker_poster_black-webfont.eot?#iefix') format('embedded-opentype'), url('cooper_becker_poster_black-webfont.woff2') format('woff2'), url('cooper_becker_poster_black-webfont.woff') format('woff'), url('cooper_becker_poster_black-webfont.ttf') format('truetype'), url('cooper_becker_poster_black-webfont.svg#cooper_becker_poster_blackRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSans';
  src: url('josefinsans-regular-webfont.eot');
  src: url('josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('josefinsans-regular-webfont.woff2') format('woff2'), url('josefinsans-regular-webfont.woff') format('woff'), url('josefinsans-regular-webfont.ttf') format('truetype'), url('josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSans-Light';
  src: url('josefinsans-light-webfont.eot');
  src: url('josefinsans-light-webfont.eot?#iefix') format('embedded-opentype'), url('josefinsans-light-webfont.woff2') format('woff2'), url('josefinsans-light-webfont.woff') format('woff'), url('josefinsans-light-webfont.ttf') format('truetype'), url('josefinsans-light-webfont.svg#josefin_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSans-Thin';
  src: url('josefinsans-thin-webfont.eot');
  src: url('josefinsans-thin-webfont.eot?#iefix') format('embedded-opentype'), url('josefinsans-thin-webfont.woff2') format('woff2'), url('josefinsans-thin-webfont.woff') format('woff'), url('josefinsans-thin-webfont.ttf') format('truetype'), url('josefinsans-thin-webfont.svg#josefin_sansthin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlab';
  src: url('josefinslab-regular-webfont.eot');
  src: url('josefinslab-regular-webfont.eot?#iefix') format('embedded-opentype'), url('josefinslab-regular-webfont.woff2') format('woff2'), url('josefinslab-regular-webfont.woff') format('woff'), url('josefinslab-regular-webfont.ttf') format('truetype'), url('josefinslab-regular-webfont.svg#josefin_slabregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlab-Light';
  src: url('josefinslab-light-webfont.eot');
  src: url('josefinslab-light-webfont.eot?#iefix') format('embedded-opentype'), url('josefinslab-light-webfont.woff2') format('woff2'), url('josefinslab-light-webfont.woff') format('woff'), url('josefinslab-light-webfont.ttf') format('truetype'), url('josefinslab-light-webfont.svg#josefin_slablight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlab-Thin';
  src: url('josefinslab-thin-webfont.eot');
  src: url('josefinslab-thin-webfont.eot?#iefix') format('embedded-opentype'), url('josefinslab-thin-webfont.woff2') format('woff2'), url('josefinslab-thin-webfont.woff') format('woff'), url('josefinslab-thin-webfont.ttf') format('truetype'), url('josefinslab-thin-webfont.svg#josefin_slabthin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TYPO3';
  src: url('share-regular-webfont.eot');
  src: url('share-regular-webfont.eot?#iefix') format('embedded-opentype'), url('share-regular-webfont.woff2') format('woff2'), url('share-regular-webfont.woff') format('woff'), url('share-regular-webfont.ttf') format('truetype'), url('share-regular-webfont.svg#share-regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium';
  src: url('TitilliumWeb-Regular-webfont.eot');
  src: url('TitilliumWeb-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('TitilliumWeb-Regular-webfont.woff2') format('woff2'), url('TitilliumWeb-Regular-webfont.woff') format('woff'), url('TitilliumWeb-Regular-webfont.ttf') format('truetype'), url('TitilliumWeb-Regular-webfont.svg#titillium_webregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium-Light';
  src: url('TitilliumWeb-Light-webfont.eot');
  src: url('TitilliumWeb-Light-webfont.eot?#iefix') format('embedded-opentype'), url('TitilliumWeb-Light-webfont.woff2') format('woff2'), url('TitilliumWeb-Light-webfont.woff') format('woff'), url('TitilliumWeb-Light-webfont.ttf') format('truetype'), url('TitilliumWeb-Light-webfont.svg#titillium_weblight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumBold';
  src: url('TitilliumWeb-Bold-webfont.eot');
  src: url('TitilliumWeb-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('TitilliumWeb-Bold-webfont.woff2') format('woff2'), url('TitilliumWeb-Bold-webfont.woff') format('woff'), url('TitilliumWeb-Bold-webfont.ttf') format('truetype'), url('TitilliumWeb-Bold-webfont.svg#titillium_webbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumBoldItalic';
  src: url('TitilliumWeb-BoldItalic-webfont.eot');
  src: url('TitilliumWeb-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('TitilliumWeb-BoldItalic-webfont.woff2') format('woff2'), url('TitilliumWeb-BoldItalic-webfont.woff') format('woff'), url('TitilliumWeb-BoldItalic-webfont.ttf') format('truetype'), url('TitilliumWeb-BoldItalic-webfont.svg#titillium_webbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumItalic';
  src: url('TitilliumWeb-Italic-webfont.eot');
  src: url('TitilliumWeb-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('TitilliumWeb-Italic-webfont.woff2') format('woff2'), url('TitilliumWeb-Italic-webfont.woff') format('woff'), url('TitilliumWeb-Italic-webfont.ttf') format('truetype'), url('TitilliumWeb-Italic-webfont.svg#titillium_webitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumItalic-Light';
  src: url('TitilliumWeb-LightItalic-webfont.eot');
  src: url('TitilliumWeb-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('TitilliumWeb-LightItalic-webfont.woff2') format('woff2'), url('TitilliumWeb-LightItalic-webfont.woff') format('woff'), url('TitilliumWeb-LightItalic-webfont.ttf') format('truetype'), url('TitilliumWeb-LightItalic-webfont.svg#titillium_weblight_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TitilliumBold';
  src: url('TitilliumWeb-Light-webfont.eot');
  src: url('TitilliumWeb-Light-webfont.eot?#iefix') format('embedded-opentype'), url('TitilliumWeb-Light-webfont.woff2') format('woff2'), url('TitilliumWeb-Light-webfont.woff') format('woff'), url('TitilliumWeb-Light-webfont.ttf') format('truetype'), url('TitilliumWeb-Light-webfont.svg#titillium_weblight') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=fonts.css.map */