*,
*:after,
*:before {
  box-sizing: border-box;
}
HTML {
  font-size: 10px;
  height: 100%;
  min-height: 100%;
  width: 100%;
}
BODY {
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  min-height: 100%;
  width: 100%;
}
BODY.noscrollbar {
  overflow: hidden;
}
A {
  text-decoration: none;
}
ng-view {
  position: fixed;
  height: 100%;
  width: 100%;
}
.n1base {
  position: relative;
}
.n1base.n1section {
  width: 100%;
}
.n1base.n1container {
  margin: 0 auto;
  width: 92%;
}
@media only screen and (min-width: 668px) and (max-width: 1280px) {
  .n1base.n1container {
    width: 90%;
  }
}
@media only screen and (min-width: 1281px) {
  .n1base.n1container {
    width: 1240px;
  }
}
.n1base.n1wrapper {
  margin: 0 auto;
  width: 100%;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.imgfix > img,
.imgfix > svg {
  vertical-align: bottom;
}
/**
 * responsive
 **/
[data-device] {
  display: none;
}
@media only screen and (max-width: 667px) {
  [data-device*=mobile] {
    display: block;
  }
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
  [data-device*=mobile][data-orientation*="mobile-landscape"] {
    display: block;
  }
  [data-device*=mobile][data-orientation*="mobile-portrait"] {
    display: none;
  }
}
@media only screen and (max-width: 667px) and (orientation: portrait) {
  [data-device*=mobile][data-orientation*="mobile-landscape"] {
    display: none;
  }
  [data-device*=mobile][data-orientation*="mobile-portrait"] {
    display: block;
  }
}
@media only screen and (min-width: 668px) and (max-width: 1280px) {
  [data-device*=tablet] {
    display: block;
  }
}
@media only screen and (min-width: 668px) and (max-width: 1280px) and (orientation: landscape) {
  [data-device*=tablet][data-orientation*="tablet-landscape"] {
    display: block;
  }
  [data-device*=tablet][data-orientation*="tablet-portrait"] {
    display: none;
  }
}
@media only screen and (min-width: 668px) and (max-width: 1280px) and (orientation: portrait) {
  [data-device*=tablet][data-orientation*="tablet-landscape"] {
    display: none;
  }
  [data-device*=tablet][data-orientation*="tablet-portrait"] {
    display: block;
  }
}
@media only screen and (min-width: 1281px) {
  [data-device*=desktop] {
    display: block;
  }
}
[data-task="n1toggle-navigation"] .c-hamburger {
  left: 25px;
  appearance: none;
  background: none;
  border: none;
  box-sizing: content-box;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-indent: -9999px;
  width: 50px;
  z-index: 2;
}
[data-task="n1toggle-navigation"] .c-hamburger:focus {
  outline: none;
}
[data-task="n1toggle-navigation"] .c-hamburger span {
  display: block;
  position: absolute;
  top: 22px;
  left: 10px;
  right: 10px;
  height: 5px;
}
[data-task="n1toggle-navigation"] .c-hamburger span:before,
[data-task="n1toggle-navigation"] .c-hamburger span:after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  content: "";
}
[data-task="n1toggle-navigation"] .c-hamburger span:after {
  bottom: -10px;
  transition-property: bottom, transform;
}
[data-task="n1toggle-navigation"] .c-hamburger span:before {
  top: -10px;
  transition-property: top, transform;
}
[data-task="n1toggle-navigation"] .c-hamburger.is-active span {
  background-color: transparent !important;
}
[data-task="n1toggle-navigation"] .c-hamburger.is-active span:after {
  bottom: 0;
  transform: rotate(-45deg);
}
[data-task="n1toggle-navigation"] .c-hamburger.is-active span:before {
  top: 0;
  transform: rotate(45deg);
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace .pace-progress {
  background: #CC181E;
  height: 3px;
  position: fixed;
  right: 100%;
  top: 0;
  width: 100%;
  z-index: 100000;
}
.pace-inactive {
  display: none;
}
/**
 * FLEX - settings
 */
/**
 * @values: stretch|center|flex-start|flex-end|space-between|space-around|initial|inherit
 * @ref: http://www.w3schools.com/cssref/css3_pr_align-content.asp
 **/
/**
 * @values: stretch|center|flex-start|flex-end|baseline|initial|inherit
 * @ref: http://www.w3schools.com/cssref/css3_pr_align-items.asp
 **/
/**
 * @ref: http://www.w3schools.com/cssref/css3_pr_flex-flow.asp
 **/
/**
 *	
 **/
.n1flex {
  position: relative;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  /* Safari */
  -webkit-align-items: stretch;
  /* Safari 7.0+ */
  align-items: stretch;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  /* NEW - Chrome */
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /* Safari */
  -webkit-flex-flow: column;
  /* Safari 6.1+ */
  flex-flow: column;
  display: -webkit-flex;
  /* Safari */
  -webkit-justify-content: flex-start;
  /* Safari 6.1+ */
  display: flex;
  justify-content: flex-start;
}
@media only screen and (min-width: 1281px), only screen and (min-width: 668px) and (max-width: 1280px) and (orientation: landscape) {
  .n1flex {
    -webkit-align-content: flex-start;
    align-content: flex-start;
    /* Safari */
    -webkit-align-items: stretch;
    /* Safari 7.0+ */
    align-items: stretch;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    /* NEW - Chrome */
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* Safari */
    -webkit-flex-flow: row nowrap;
    /* Safari 6.1+ */
    flex-flow: row nowrap;
    display: -webkit-flex;
    /* Safari */
    -webkit-justify-content: flex-start;
    /* Safari 6.1+ */
    display: flex;
    justify-content: flex-start;
  }
  .n1flex.wrap {
    -webkit-align-content: flex-start;
    align-content: flex-start;
    /* Safari */
    -webkit-align-items: stretch;
    /* Safari 7.0+ */
    align-items: stretch;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    /* NEW - Chrome */
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    /* Safari */
    -webkit-flex-flow: row nowrap;
    /* Safari 6.1+ */
    flex-flow: row nowrap;
    display: -webkit-flex;
    /* Safari */
    -webkit-justify-content: flex-start;
    /* Safari 6.1+ */
    display: flex;
    justify-content: flex-start;
  }
}
.n1flex .flexitem {
  position: inherit;
  empty-cells: show;
}
.n1flex .flexitem.col12of12 {
  webkit-box-flex: 100%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 100%;
  /* OLD - Firefox 19- */
  width: 100%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 100%;
  /* Chrome */
  -ms-flex: 100%;
  /* IE 10 */
  flex: 100%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.n1flex .flexitem.col11of12 {
  webkit-box-flex: 91.66666667%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 91.66666667%;
  /* OLD - Firefox 19- */
  width: 91.66666667%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 91.66666667%;
  /* Chrome */
  -ms-flex: 91.66666667%;
  /* IE 10 */
  flex: 91.66666667%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.n1flex .flexitem.col10of12 {
  webkit-box-flex: 83.33333333%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 83.33333333%;
  /* OLD - Firefox 19- */
  width: 83.33333333%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 83.33333333%;
  /* Chrome */
  -ms-flex: 83.33333333%;
  /* IE 10 */
  flex: 83.33333333%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.n1flex .flexitem.col9of12 {
  webkit-box-flex: 75%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 75%;
  /* OLD - Firefox 19- */
  width: 75%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 75%;
  /* Chrome */
  -ms-flex: 75%;
  /* IE 10 */
  flex: 75%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.n1flex .flexitem.col8of12 {
  webkit-box-flex: 66.66666667%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 66.66666667%;
  /* OLD - Firefox 19- */
  width: 66.66666667%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 66.66666667%;
  /* Chrome */
  -ms-flex: 66.66666667%;
  /* IE 10 */
  flex: 66.66666667%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.n1flex .flexitem.col7of12 {
  webkit-box-flex: 58.33333333%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 58.33333333%;
  /* OLD - Firefox 19- */
  width: 58.33333333%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 58.33333333%;
  /* Chrome */
  -ms-flex: 58.33333333%;
  /* IE 10 */
  flex: 58.33333333%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.n1flex .flexitem.col6of12 {
  webkit-box-flex: 50%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 50%;
  /* OLD - Firefox 19- */
  width: 50%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 50%;
  /* Chrome */
  -ms-flex: 50%;
  /* IE 10 */
  flex: 50%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.n1flex .flexitem.col5of12 {
  webkit-box-flex: 41.66666667%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 41.66666667%;
  /* OLD - Firefox 19- */
  width: 41.66666667%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 41.66666667%;
  /* Chrome */
  -ms-flex: 41.66666667%;
  /* IE 10 */
  flex: 41.66666667%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.n1flex .flexitem.col4of12 {
  webkit-box-flex: 33.33333333%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 33.33333333%;
  /* OLD - Firefox 19- */
  width: 33.33333333%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 33.33333333%;
  /* Chrome */
  -ms-flex: 33.33333333%;
  /* IE 10 */
  flex: 33.33333333%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.n1flex .flexitem.col3of12 {
  webkit-box-flex: 25%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 25%;
  /* OLD - Firefox 19- */
  width: 25%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 25%;
  /* Chrome */
  -ms-flex: 25%;
  /* IE 10 */
  flex: 25%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.n1flex .flexitem.col2of12 {
  webkit-box-flex: 16.66666667%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 16.66666667%;
  /* OLD - Firefox 19- */
  width: 16.66666667%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 16.66666667%;
  /* Chrome */
  -ms-flex: 16.66666667%;
  /* IE 10 */
  flex: 16.66666667%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.n1flex .flexitem.col1of12 {
  webkit-box-flex: 8.33333333%;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 8.33333333%;
  /* OLD - Firefox 19- */
  width: 8.33333333%;
  /* For old syntax, otherwise collapses. */
  -webkit-flex: 8.33333333%;
  /* Chrome */
  -ms-flex: 8.33333333%;
  /* IE 10 */
  flex: 8.33333333%;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.left,
.center,
.right {
  text-align: center;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
}
.table-cell.bottom {
  vertical-align: bottom;
}
@media only screen and (min-width: 1281px), only screen and (min-width: 668px) and (max-width: 1280px) and (orientation: landscape) {
  .left {
    text-align: left;
  }
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
}
/*# sourceMappingURL=master.css.map */